<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Flight</title>
    </head>
    <body>
        <header>
            <h1>Flight</h1>

            <div class="flight-container">
                <h2>From: <%= flight.from_flight%></h2>
                <h2>To: <%= flight.to_flight%></h2>
                <p>Date: <%= flight.date%></p>
                <p>Price: $<%= flight.price%></p>
                <p>Company: <%= flight.company%></p>

                <button><a href="/api/flights">Return To All</a></button>
            </div>
        </header>
    </body>
</html>
